
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$red-palette,
      //accent: black,
    ),
    typography: Roboto,
    density: 0,
  ));
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}/* You can add global styles to this file, and also import other style files */

html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
.container {
   width: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Cool infinite background scrolling animation. */

/* Exo thin font from Google. */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
//$bg-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC";
$bg-url: "data:image/webp;base64,UklGRsQBAABXRUJQVlA4TLcBAAAvj8FjAAUk23bbNvtfIUuqegMod3tKCXDsGZT2I/oPyW0kR1LWdYzGb9XyBUyPLjZ7EE16jfNhurdoAwQN++tmCCI1F9Vi/6CyJzmyp6mtH0RFHPjOpDq0ZPugtciPaR3R45Ye8wdx4UdeRvR0PNk+SFwvFaGf9peJat+lyfxB4i1Sxu5w4covbw/rB41yTYWjW+ka3WH2oOXIQK6UqnL31s+qgu0exBe1rlfuTrezijjaPYiSWnNTpYJmWZHfOWYP+uoL9CP0k/pmNXyQvE+uQnu40mfeqqq/PKwflCqf/wBfN0RFGNn6QfLPb9fLDSp/+Fy0AYJK3/N6gCO3qgNZP4iquGxL15GHOTGfP5s9SL1Bii5fT4047qyMHyQuJ0f9bZG/QI0e9MS/zu0d9DiwOG6CoCdM1o9BEPx3ePDf4YEphwf/HR78d3jw3+HBf4eHER0e/Hd48N/hwX+HB/8dHkZ0ePDf4cF/hwf/HR78d3gY0eHBf4cH/x0e/Hd48N/hYUSHB/8dHvx3ePDf4cF/h4cRHR78d3jw3+HBf4cH/x0eRnR48N/hwX+HB/8d3t8Vhwf/HR4DAA==";
$bg-width: 50px;
$bg-height: 50px;

/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@-moz-keyframes    bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@-o-keyframes      bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@keyframes         bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}

@-webkit-keyframes bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@-moz-keyframes    bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@-o-keyframes      bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@keyframes         bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}

/* Main styles */
body {
  color: #000000;
  font: 400 16px/1.5 "Exo 2", ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  /* img size is 50x50 */
  background: url($bg-url) repeat-x 0 0;
  background-repeat: repeat;
  
  -webkit-animation: bg-scrolling-reverse .92s infinite; /* Safari 4+ */
  -moz-animation:    bg-scrolling-reverse .92s infinite; /* Fx 5+ */
  -o-animation:      bg-scrolling-reverse .92s infinite; /* Opera 12+ */
  animation:         bg-scrolling-reverse .92s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function:    linear;
  -o-animation-timing-function:      linear;
  animation-timing-function:         linear;
  
}

